body {
    background: #ffffff;
}
.app-container {
    background: #fff;
    max-width: 480px;
    margin: 60px auto;
    padding: 40px 25px;
}

.search-container {
    margin-bottom: 100px;
}

h1 {
    color: #007bff;
}
input {
    margin: 20px 0;
}

li.borderLess {
    border-top: 0 none;
}
